html{
    height: 100%;
}
body {
    height: 100%;
    font-family: 'OpenSans';
    color:#414141;
    background: #d8d8d842;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.ffcx{
	background:#292a34;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.p0{
    padding: 0px!important;
}
.header{
    z-index: 9;
    padding: 15px 0px;
    box-shadow: 0px 0px 10px 0.2px #a2a0a0;
}
.wh{
    background: #fff;
}
.wh1{
    background: #2e2f3d;
}
.logos{
    display: block;
    font-size: 36px;
    font-family: 'OpenSansBold';
    color:#20befc;
    text-decoration: none;
}
.logos:hover{
    color:#20befc;
    text-decoration: none;
}
.menu {
    display: block;
    /*padding: 0px;*/
    height: 20px;
    margin: 0;
    margin-top: 15px;
}
.men_it{
    display: block;
    float: left;
    padding: 0px 25px;
}
.men_it {
    display: block;
    float: left;
    padding: 0px 25px;
    color: #919191;
    font-size: 14px;
    font-family: 'OpenSansBold';    
}
.auth_it{
    font-size: 14px;
    font-family: 'OpenSansBold';
    color:#e0e0e0!important;
    text-decoration: none!important;
}
.authbl{
    display: block;
    padding-top: 15px;
}
.clrbl_b{
    color:#20befc!important;
}
.rtui{
    color:#e0e2e6;
    cursor: pointer; 
}
.rtui:hover{
    color:#20befc;
    text-decoration: none;
    transition:0.3s all;
}
.footers{
    padding: 25px 0px;
    background: linear-gradient(to bottom,#292a34, #3d4058)
}
.foot_logo{
    display: block;
    color:#fff;
    font-size: 36px;
    font-family: 'OpenSansBold';
    float: left;
}
.foot_logo:hover,.foot_logo:focus{
    color:#20befc;
    text-decoration: none;
    transition: 0.3s;
}
.clr_d{
    color:#e0e0e0;
}
.block1 {
    display: block;
    background: url(/img/block1_1.jpg)no-repeat top/cover;
    padding: 0px;
    height: 100vh;
    padding-bottom: 50px;
}
.btitle{
    display: block;
    text-align: center;
    font-size: 40px;
    font-family: 'OpenSansBold';
    margin-top: 100px;
}
.bluebtn{
    display: block;
    margin:0 auto;
    width: 120px;
    height: 5px;
    background: #20befc;
    border:none;
    margin-top: 25px;
}
.text_title{
    display: block;
    font-size: 21px;
    color:#414141;
    text-align: center;
    margin-top: 25px;
}
.username{
    display: block;
    float: left;
	color:#fff;
    font-size: 14px;
    font-family: 'OpenSansBold';
    margin:0px;
    text-transform: capitalize;
}
.glph{
    margin-right: 15px;
}
.logout{
    display: block;
    float: left;
    font-size: 14px;
    font-family: 'OpenSansBold';
    color:#20befc;
}
.flotpal{
    display: block;
    font-size: 14px;
    font-family: 'OpenSansBold';
    float: left;
    text-transform: uppercase;
    margin:0px 10px;
}
.p50px{
    padding-top: 50px!important;
}
.cats{
    width: 300px;
    height: 45px;
    border-radius: 5px;
    padding:0px 15px;
    outline: none;
    margin:0px 10px;
}
.barys:active{
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.selects{
    display: block;
    width: 645px;
    margin: 50px auto 50px;
}
.search{
    display: block;
    padding: 15px 50px;
    background: #20befc;
    color:#fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'OpenSansBold';
    border-radius: 5px;
    border:none;
    outline: none;
    margin: 0 auto;
}
.foottxt{
    display: block;
    color:#fff;
    font-size: 18px;
    font-family: 'OpenSans';
    letter-spacing: 0.5px;
    margin-top: 18px;
}
.socials {
    display: block;
    width: 200px;
    float: right;
    padding-top: 10px;
}
.carousel-item{
    background: #fff;
    padding:25px;
}
.uniimg{
    display: block;
    height: 50px!important;
}
.blockcol{
    background: #fff;
    margin: 25px 0px;
    padding: 25px;
    box-shadow: 1.176px 1.618px 3.92px 0.08px rgba(0, 0, 0, 0.2);
    height: auto;
    border-radius: 5px;
}
.box_shadow{
    box-shadow: 1.176px 1.618px 3.92px 0.08px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.clear{
    clear: both;
}
.carousel-indicators{
    position: relative;
    display: none!important;
}
.block2{
    padding: 50px 0px;
    background: #ffffff;
}
.kaznu{
    display: block;
    height: 170px;
    width: 100%;
    margin:15px auto;
}

.txyutx{
    display: block;
    font-size: 30px;
    font-family: 'OpenSansBold';
    text-align: center;
    text-transform: uppercase;
}
.mb25{
    margin-bottom: 25px;
}
.coment_just{
    display: block;
    font-size: 18px;
    color:#414141;
    font-weight: bold;
}
.logos:focus{
    text-decoration: none;
}
.titletxt{
    display: block;
    font-size: 30px;
    font-family: 'OpenSansBold';
    float: left;
    margin-top: 0px;
}
.circleblue{
    display: block;
    width: 20px;
    height: 20px;
    background: #20befc;
    border-radius: 50px;
    border:none;
    float: left;
    margin-right: 15px;
    cursor:auto;
    margin-top: 8px;
}
.p25{
    padding: 25px;
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #20befc;
    border-radius: 25px!important;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
    background-color: #c9ced2;
    border-radius: 25px!important;
    height: 95%;
}
::-webkit-scrollbar-track:hover{
    border-left: none;
    background-color: #c9ced2;
}
.selectss{
    display: block;
    width: 90%;
    border:2px solid #ccc;
    padding: 8px 15px;
    border-radius: 5px;
    background: #fff;
    outline: none;
}
.lab_sell{
    display: block;
    font-size: 18px;
    color:#414141;
    font-family: 'OpenSans';
}
.univer{
    display: block;
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    border:2px solid #ccc;
}
.unimg{
    display: block;
    height: 180px;
	width:250px;
}
.paddleftr{
    padding: 0px 0px 0px 15px;  
}
.unname{
    display: block;
    font-size: 18px;
    color:#414141;
    font-family: 'OpenSansBold';
    text-decoration: none;
    margin-bottom: 25px;
}
.unname:hover{
    color:#20befc;
    text-decoration: none;
    transition: 0.3s all;
}
.undann{
    display: block;
    font-size: 16px;
    font-family: 'OpenSans';
    color:#414141;
}
.fullinf{
    display: block;
    float: right;
    padding: 8px 15px;
    color:#fff;
    background: #20befc;
    border:none;
    border-radius: 5px;
    font-family: 'OpenSansBold';
    font-size: 14px;
    outline: none;
}
.fullinf:hover{
    background: #1395c7;
    transition: 0.3s all;
}
.back{
    display: block;
    font-size: 18px;
    color:#414141;
    font-family: 'OpenSans';
    text-decoration: none!important;
    float: left;
}
.back:hover{
    color:#20befc;
    transition: 0.3s all;
}
.block-login{
    display: block;
    width: 50%;
    margin:0 auto;
    background: #e0e0e0;
}
.izbr{
    display: block;
    float: left;
    font-size: 16px;
    color:#414141;
    text-decoration: none!important;
    font-family: 'OpenSans';
}
.izbr:hover{
    color:#20befc;
    transition: 0.3s all;
}

.izbr2{
    display: block;
    float: left;
    font-size: 16px;
    color:#414141;
    text-decoration: none!important;
    font-family: 'OpenSans';
    border:none;
    background: none;
    outline: none;
}
.izbrselect{
    display: block;
    float: left;
    font-size: 16px;
    color:#20befc;
    text-decoration: none!important;
    font-family: 'OpenSans';
    border:none;
    background: none;
    outline: none;
}
.izbr2:hover{
    color:#20befc;
    transition: 0.3s all;
}
.dty{
    color:#414141!important;
}
.univername{
    display: block;
    font-size: 32px;
    color:#414141;
    font-family: 'OpenSansBold';
}
.inform p{
    font-size: 18px;
    font-family: 'OpenSans';
}
.univerimg{
    display: block;
    height: 270px;
    margin: 0px auto;
}
.blockrght{
    display: block;
    border:1px solid #ccc;
    border-radius: 5px;
}
.ft14px{
    display: block;
    margin-top: 0px;
    font-size: 13.5px;
    font-family: 'OpenSans';
    color:#414141;
}
.ft16px{
    display: block;
    margin-top: 0px;
    font-size: 16px;
    font-family: 'OpenSansBold';
    color:#414141;
    margin-bottom: 25px;
}
.setweb{
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background: #20befc;
    color:#fff;
    font-size: 16px;
    font-family: 'OpenSansBold';
    border:none;
    text-decoration: none!important;
    outline: none;
}
.setweb:hover{
    background: #1395c7;
    transition: 0.3s all;
}
.txtdcnone{
    text-decoration: none!important;
}
.padsdcasc{
    padding: 0px 15px 0px 0px;
}
.blockinfocat{
    display: block;
    border:1px solid #ccc;
    border-radius: 5px;
}
#showinform{
    padding: 8px 25px;
    cursor: pointer;
}
.titld{
    display: block;
    font-size: 16px;
    font-family: 'OpenSansBold';
    color:#414141;
    float: left;
}
.rotait{
    display: block;
    float: right;
    color:#414141;
    font-size: 16px;
    font-family: 'OpenSansBold';
}
#srtc{
    display: none;
}
.mb50{
    margin-bottom: 50px;

}
.asdko{
    display: block;
    text-align: center;
    margin: 25px 0px;
}
.userinfo{
    display: block;
    font-size: 30px;
    font-family: 'OpenSansBold';
    margin-top: 0px;
    margin-bottom: 25px;
}
.userlogin{
    display: block;
    font-size: 18px;
    font-family: 'OpenSans';
    margin-top: 0px;
    margin-bottom: 10px;
}
.udalit{
    display: block;
    font-size: 14px;
    font-family: 'OpenSansBold';
    padding: 8px 25px;
    border: none;
    background: #fb532d;
    color: #fff;
    border-radius: 5px;
    float: left;
    outline: none;
}
.senyfiltr{
    display: block;
    width: 90%;
    height: 40px;
    padding-left: 15px;
    border-radius: 5px;
    border: 2px solid #ccc;
    outline: none;
}
.news_img{
    display: block;
    width: 100%;
}
.new_tt{
    display: block;
    font-size: 32px;
	font-weight:bold;
}
.podbf_news{
    display: block;
    width: 100%;
    margin-top: 25px;
    padding: 10px 0px;
    border-radius: 5px;
    border: 2px solid #20befc;
    text-transform: uppercase;
    color: #20befc;
    background: none;
    font-weight: bold;
    letter-spacing: 0.5px;
    outline: none!important;
}
.sadxc2{
    position: absolute;
    left: -30px;
    font-size:30px;
    z-index: 99999;
    top: 150px;
    color:#20befc;
}   
.sadxc22{
    position: absolute;
    right : -30px;
    font-size:30px;
    z-index: 99999;
    top: 150px;
    color:#20befc;
}
.spisokss{
    display: block;
    width: 100%;
    height: 800px;
}